<h1>Produtos Cadastrados</h1>
<hr>
<a href="addProduct">Cadastrar Produto</a>
<table>
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Tipo</td>
        <td>Em Estoque</td>
        <td>Ações</td>
    </tr>

    {{#data}}
        <tr>
            <td>{{idProduto}}</td>
            <td>{{nome}}</td>
            <td>{{tipo}}</td>
            <td>{{qtdEstoque}}</td>
            <td>
                <a href="update/{{idProduto}}" title="Editar">
                    <img class="imgIcon" src="/img/editIcon.png" alt="Editar">
                </a>
                <a href="deletar/{{idProduto}}" title="Deletar">
                    <img class="imgIcon deletar" src="/img/deleteIcon.png" alt="Deletar">
                </a>
            </td>
        </tr>
    {{/data}}
</table>